In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('PBL 5 recommendation data.csv',encoding='iso-8859-1')

C:\Users\Magu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data Understanding

In [2]:
#Data Understaning slide shows full colmun list and missing values
Feature_Names = data.columns
Feature_Names

#Data Categories
    #Products
    #Customers
    #Orders

Index(['Customers.id', 'Customers.fname', 'Customers.lname',
       'Customers.company', 'Customers.create_date', 'Customers.status',
       'Customers.mailing', 'Customers.reminders', 'Customers.tax_exempt',
       'Customers.account_id',
       ...
       'Products.google_shopping_label', 'Products.product_option',
       'Products.size', 'Products.material', 'Products.arm_style',
       'Products.leg_style', 'Products.seat_size', 'Products.family_id',
       'Products.saved_status', 'Products.freight_cost'],
      dtype='object', length=181)

In [3]:
#Products, Orders, Customers data
Products_Columns = [col for col in Feature_Names if 'Products' in col]
Orders_Columns = [col for col in Feature_Names if 'Orders' in col]
Customers_Columns = [col for col in Feature_Names if 'Customers' in col]

In [4]:
#Explore Products
data[Products_Columns].info() #len(data) = 4194 entries

data['Products.id'].unique() #[  2.31000000e+03,   1.77000000e+02,   1.00000000e+00, ...,
         #1.56490000e+04,   2.70700000e+03,   5.62000000e+02]

data['Products.id'].nunique() #1710

data['Products.name'].nunique() #1391

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 98 columns):
Products.id                       4037 non-null float64
Products.status                   4037 non-null float64
Products.product_type             0 non-null float64
Products.template                 3973 non-null object
Products.vendor                   4037 non-null float64
Products.import_id                4037 non-null float64
Products.name                     4037 non-null object
Products.display_name             3662 non-null object
Products.menu_name                0 non-null float64
Products.list_price               4017 non-null float64
Products.price                    4036 non-null float64
Products.sale_price               1160 non-null float64
Products.cost                     4037 non-null float64
Products.flags                    2987 non-null float64
Products.left_flag                1239 non-null float64
Products.right_flag               0 non-null float64
Products.last_modified            4037 non-null float64
Products.taxable                  2959 non-null float64
Products.shopping_gtin            3130 non-null float64
Products.shopping_brand           4032 non-null object
Products.shopping_mpn             4034 non-null object
Products.shopping_gender          238 non-null object
Products.shopping_color           1700 non-null object
Products.shopping_age             2 non-null object
Products.shopping_flags           3917 non-null float64
Products.amazon_asin              2935 non-null object
Products.amazon_type              0 non-null float64
Products.amazon_item_type         4015 non-null object
Products.amazon_price             592 non-null float64
Products.google_shopping_id       3780 non-null object
Products.google_shopping_type     3979 non-null object
Products.google_shopping_cat      4011 non-null object
Products.google_adwords           0 non-null float64
Products.shopping_cat             2334 non-null float64
Products.shopping_type            2334 non-null object
Products.pricegrabber_cat         2334 non-null object
Products.shopzilla_cat            2334 non-null float64
Products.thefind_cat              2321 non-null object
Products.quickbooks_id            3728 non-null object
Products.qb_edit_sequence         3728 non-null float64
Products.price_break_type         0 non-null float64
Products.price_breaks             0 non-null float64
Products.short_description        3015 non-null object
Products.long_description         4008 non-null object
Products.websites                 0 non-null float64
Products.video                    676 non-null object
Products.audio                    0 non-null float64
Products.seo_title                4011 non-null object
Products.seo_description          565 non-null object
Products.seo_keywords             1158 non-null object
Products.seo_header               9 non-null object
Products.seo_footer               0 non-null float64
Products.seo_url                  4037 non-null object
Products.seo_category             2837 non-null float64
Products.unit                     3985 non-null object
Products.packaging                2890 non-null object
Products.display_packaging        16 non-null object
Products.multiple                 2964 non-null object
Products.length                   998 non-null float64
Products.width                    996 non-null float64
Products.height                   996 non-null float64
Products.rx                       635 non-null object
Products.latex                    1939 non-null object
Products.upc                      2127 non-null float64
Products.msds_link                622 non-null object
Products.msds_label               652 non-null object
Products.lit_link                 1360 non-null object
Products.lit_label                1357 non-null object
Products.hcpcs                    3288 non-null object
Products.case_qty                 2638 non-null float64
Products.markup                   0 non-null float64
Products.override_markup          2920 non-null float64
Products.notes                    446 non-null object
Products.import_flags             2786 non-null float64
Products.map_price                122 non-null float64
Products.features_title           2 non-null object
Products.warranty                 663 non-null object
Products.hygienic                 2080 non-null float64
Products.default_quantity         0 non-null float64
Products.user_size                616 non-null object
Products.assembly                 616 non-null object
Products.installation             616 non-null object
Products.shipping_length          3998 non-null float64
Products.shipping_width           3998 non-null float64
Products.shipping_height          3998 non-null float64
Products.shipping_weight          659 non-null float64
Products.handling_time            998 non-null object
Products.rotation_link            200 non-null object
Products.google_shopping_label    387 non-null float64
Products.product_option           313 non-null object
Products.size                     1443 non-null object
Products.material                 802 non-null object
Products.arm_style                155 non-null object
Products.leg_style                0 non-null float64
Products.seat_size                162 non-null object
Products.family_id                3869 non-null object
Products.saved_status             3930 non-null float64
Products.freight_cost             0 non-null float64
dtypes: float64(48), object(50)
memory usage: 3.1+ MB

1391

In [5]:
#Find Products feature with the largest number of non-null values 
data[Products_Columns].count().idxmax() #'Products.id'
data[data[Products_Columns].count().idxmax()].count() #4037 non-null float64
    #Product.id count less than 4194 ('missing' Product.id)
    #157 (=4194-4037) rows missing Product.id. ~3% of data 
    #All Products features are 'missing' data -> Explore Orders data

4037

In [6]:
#Explore Products
data[Orders_Columns].info()

#Check is Orders.currency is the same for all
data['Orders.currency'].unique() #'USD'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 53 columns):
Orders.id                  4194 non-null int64
Orders.customer_id         4194 non-null int64
Orders.fname               4194 non-null object
Orders.lname               4194 non-null object
Orders.company             728 non-null object
Orders.order_number        4194 non-null object
Orders.reorder_id          82 non-null float64
Orders.external_source     365 non-null object
Orders.external_id         5 non-null float64
Orders.currency            4194 non-null object
Orders.sales_rep           0 non-null float64
Orders.subtotal            4194 non-null float64
Orders.tax                 3737 non-null float64
Orders.shipping            3999 non-null float64
Orders.coupon_id           882 non-null float64
Orders.coupon_amount       882 non-null float64
Orders.gift_id             0 non-null float64
Orders.gift_amount         0 non-null float64
Orders.fee_name            227 non-null object
Orders.fee_amount          278 non-null float64
Orders.discount_name       282 non-null object
Orders.discount_amount     364 non-null float64
Orders.total               4194 non-null float64
Orders.balance_due         351 non-null float64
Orders.shipping_carrier    3577 non-null object
Orders.shipping_method     3751 non-null object
Orders.shipping_trans      0 non-null float64
Orders.shipping_flags      0 non-null float64
Orders.weight              3 non-null float64
Orders.tracking            3818 non-null object
Orders.payment_status      4189 non-null float64
Orders.payment_date        4176 non-null float64
Orders.payment_user        1380 non-null object
Orders.payment_type        3810 non-null object
Orders.payment_method      722 non-null object
Orders.payment_amount      4176 non-null float64
Orders.purchase_order      0 non-null float64
Orders.payment_id          3764 non-null object
Orders.payment_code        3446 non-null object
Orders.payment_ref         0 non-null float64
Orders.status              4194 non-null int64
Orders.placed_date         4194 non-null int64
Orders.updated_date        4171 non-null float64
Orders.shipped_date        3848 non-null float64
Orders.comments            287 non-null object
Orders.notes               1276 non-null object
Orders.registry_id         0 non-null float64
Orders.gift_message        0 non-null float64
Orders.website             0 non-null float64
Orders.mailing             0 non-null float64
Orders.flags               1 non-null float64
Orders.partial_ship        96 non-null float64
Orders.customer_type       4011 non-null float64
dtypes: float64(31), int64(4), object(18)
memory usage: 1.7+ MB

array(['USD'], dtype=object)

In [7]:
data['Orders.order_number'].unique()

array(['3758', '23', '9531', ..., 17426, 17431, 17434], dtype=object)

In [8]:
#Find Orders feature with the largest number of non-null values 
data[Orders_Columns].count().idxmax() #'Orders.id' (and others)
data[data[Orders_Columns].count().idxmax()].count() #4194 non-null int64

4194

In [9]:
#Explore Orders.id
data['Orders.id'].count() #4149
data['Orders.id'].nunique() #3565
data['Orders.id'].unique() #[ 3758,    23,  9531, ..., 17426, 17431, 17434]
    #Each row has and Order.id, and unique Orders.id count is less than Order.id count 
    # (every product has Order.id, multiple Products in an Order)

array([ 3758,    23,  9531, ..., 17426, 17431, 17434], dtype=int64)

In [10]:
#Entries with missing Products.id
sub = data[data['Products.id'].isnull()]
sub['Products.vendor'].unique() #nan
sub['Products.cost'].unique() #nan
sub['Orders.total'].unique() #[   54.41,    24.58,    34.  ,   349.98...]
sub['Orders.customer_id'].unique() #[   5,   10,   11,   14,   15,   21...]
sub['Orders.id'].unique() #[  226,  1658,    70,    74,    99,   105...]
sub['Orders.notes'].unique() #refunds, fradulent orders, canceled orders, etc.

array([ 'this order was placed as a apologize for the customer, cause he got the wrong size, he got a medium in stat of a large, cause the item was attached to  a wrong asin.',
       "Additional Order for PO 763 as customer returned package but he didn't wanted back the money",
       'ebay order', 'Ebay Order', nan, 'Insured by eye4fraud',
       'Insured By Eye4Fraud', 'Insured by Eye4fraud',
       "Additional order for PO 666. the customer claimed that she need to receive a box of 10 not of 5, the issue is cause Medline has a picture of a box of 10.\r\rso don't pay this to Medline.",
       'Approved by Eye4Fraud', 'Phone order with Abe',
       'Approved by Eye4fraud\r\rWe was needed to refund the customer 9.95 cause he complaint that he forgot to enter the coupon code.\r\rBut he was charged before for tax so we added the amount as a fee so we added an 80 cents to adjust what the tax amount was more of the shipping charge, so here is what he was charged.\r\rtotal product charges, 153.54\rshipping 9.95\rtax 10.75.\r\rtotal refund was 9.95',
       'Insured by Eye4Fraud',
       'Phone Order\r\rWasnt in stock was needed to refund cust',
       'Phone Order',
       'Customer Requested TO cancel Order due to Mother Passed away',
       'Approved by Eye4fraud', 'Phone Order\rInsured By Eye4Fraud',
       'Phone Order ', 'Phone order', 'Cancelled as it was a RX  Item',
       "The briefs wasn't stocked as a single back so shipped to customer a case for 53.50",
       'Phone order ', 'insured By Eye4fraud', 'Discontinued item',
       'Refunded Shipping $9.95',
       "Phone Order\rItem Isn't stock will buy it from Amazon",
       'replacement for #13967', 'Phone Order, placed in bulk account ',
       'phone order'], dtype=object)

In [11]:
#Explore Customers
data[Customers_Columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 15 columns):
Customers.id               4194 non-null int64
Customers.fname            4194 non-null object
Customers.lname            4194 non-null object
Customers.company          727 non-null object
Customers.create_date      4194 non-null int64
Customers.status           101 non-null float64
Customers.mailing          2114 non-null float64
Customers.reminders        0 non-null float64
Customers.tax_exempt       5 non-null float64
Customers.account_id       3 non-null float64
Customers.sales_rep        0 non-null float64
Customers.rewards          0 non-null float64
Customers.profile_id       0 non-null float64
Customers.last_modified    4194 non-null int64
Customers.customer_type    3771 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 491.6+ KB

# Most Popular Product - Volume

In [12]:
#Check if each row represents a single Product or multiple Products per Order
d = data.drop_duplicates(['Products.id','Orders.id'])
len(d) #4190

pd.DataFrame(data['Products.id'].value_counts(ascending=False)).head(5)

        Products.id
1842.0           88
2107.0           71
910.0            67
911.0            67
1867.0           53

# Most Popular Product - Dollars

In [13]:
data[data['Products.id'].notnull(
)].groupby('Products.id').agg({'Orders.subtotal':[np.sum]}
).sort_values(('Orders.subtotal','sum'),ascending=False).head(5)

            Orders.subtotal
                        sum
Products.id
1846.0             13781.12
2107.0             12660.68
911.0               8781.76
910.0               8667.58
858.0               6861.15

# Company with Max Purchase

In [14]:
data[data['Products.id'].notnull()].groupby('Orders.company'
).agg({'Orders.subtotal':'max'}).sort_values(('Orders.subtotal'),ascending=False).head(5)

                Orders.subtotal
Orders.company
Company343              5163.04
Company207              2375.59
Company281              1740.00
Company130              1048.91
Company108              1043.75

# Similar Products - Cosine Similarity

In [16]:
#Cosine similarity function
def Cosine(data,d_class):
    x = pd.DataFrame(data[Products_Columns][data[d_class].notnull(
    )]).select_dtypes(exclude=['object']).drop_duplicates(subset='Products.id').fillna(value=0)
    cs = pd.DataFrame(cosine_similarity(x,x))
    return cs

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
data = data
d_class = 'Customers.id' # Customers.id, Orders.id, Products.id
cs = Cosine(data,d_class)
cs.head()

,0,1,2,3,4,5,6,7,8,9,...,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710
0,1.000000,1.000000,1.000000,0.000005,0.000189,0.0,1.000000,0.999968,1.000000,1.000000,...,0.999968,1.000000,0.996715,0.999968,0.999968,0.707106,0.707106,0.707106,4.742249e-07,1.000000
1,1.000000,1.000000,1.000000,0.000005,0.000204,0.0,1.000000,0.999968,1.000000,1.000000,...,0.999968,1.000000,0.996715,0.999968,0.999968,0.707106,0.707106,0.707106,5.119182e-07,1.000000
2,1.000000,1.000000,1.000000,0.000001,0.000051,0.0,1.000000,0.999968,1.000000,1.000000,...,0.999968,1.000000,0.996715,0.999968,0.999968,0.707105,0.707105,0.707106,1.287830e-07,1.000000
3,0.000005,0.000005,0.000001,1.000000,0.025675,0.0,0.000001,0.007958,0.000005,0.000001,...,0.007958,0.000001,0.080964,0.007958,0.007958,0.706925,0.706925,0.706899,9.997315e-01,0.000002
4,0.000189,0.000204,0.000051,0.025675,1.000000,0.0,0.000050,0.000204,0.000204,0.000051,...,0.000204,0.000050,0.000188,0.000204,0.000204,0.002038,0.002038,0.001028,2.505454e-03,0.000068

# Similar Products -  Co-occurrence Matrix

In [18]:
#Setup data for co-occurrence matrix
orders = pd.DataFrame(data['Orders.id'])
products = pd.DataFrame(data['Products.id']).fillna(value=0).astype(int)
Data = products.join(orders)
Data.head()

   Products.id  Orders.id
0         2310       3758
1          177         23
2            1       9531
3          983         29
4          991         30

In [19]:
#https://stackoverflow.com/questions/31331310/pandas-combine-rows-that-share-an-association

import itertools as IT
edges = Data.groupby(['Orders.id'], group_keys=False).apply(
    lambda x: pd.DataFrame(list(IT.combinations(x['Products.id'], 2)), 
                           columns=['first', 'second'])).reset_index(drop=True)
edges.head()

  first second
0  1430   1385
1  1867   1617
2  1099    604
3  1343   1366
4   487   2038

In [20]:
cooccurrence = pd.crosstab(index=[edges['first']], columns=[edges['second']])
items = Data['Products.id'].unique()
cooccurrence = cooccurrence.reindex(index=items, columns=items)
cooccurrence = cooccurrence.add(cooccurrence.T, fill_value=0)
cooccurrence = cooccurrence.fillna(0)
diagvals = cooccurrence.sum(axis=0)
arr = cooccurrence.values
i = np.arange(len(diagvals))
arr[i,i] = diagvals
cooccurrence = pd.DataFrame(arr, columns=cooccurrence.columns,index=cooccurrence.index)
cooccurrence.head(25)

second,2310,177,1,983,991,0,1379,815,795,1430,...,251,350,13104,5972,5985,14974,16660,15649,2707,562
first,,,,,,,,,,,,,,,,,,,,,
2310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
983,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
910,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
566,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1384,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
#Select similar products based on Co-occurrence Matrix
prod = 1430 #product number as integer (1430, 65, 100)
col = cooccurrence.loc[prod]
indices = np.nonzero(col)
similar = col.iloc[indices].sort_values(ascending=False)
similar

second
1430    10.0
1469     3.0
1259     2.0
1307     1.0
1228     1.0
1261     1.0
1249     1.0
1385     1.0
Name: 1430, dtype: float64